<div class="container">
  <h2 class="titulo mt-2">Calculos</h2>
  <h6>Alumna: Mariana Avila Rivera</h6>
  <div class="row">
    <div class="col-4 cont">
      <div class="form-group">
        <label for="lado">Lado:</label>
        <br />
        <input
          type="number"
          class="form-control inputC"
          id="lado"
          [(ngModel)]="lado"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="area">Área:</label>
        <br />
        <input
          type="number"
          class="form-control inputC"
          id="area"
          [(ngModel)]="area"
          disabled
        />
      </div>
      <br />
      <div class="form-group">
        <label for="perimetro">Perímetro:</label>
        <br />
        <input
          type="number"
          class="form-control inputC"
          id="perimetro"
          [(ngModel)]="perimetro"
          disabled
        />
      </div>
      <br />
      <button type="button" class="btn btn-primary" (click)="enviar()">
        Calcular
      </button>
    </div>
  </div>
</div>
